
@{
    ViewBag.Title = "Productos";
}

<h1>Productos</h1>

<h2>Panaderia</h2>
<img src="~/Content/Panaderia.png"></img>

<h2>Frutas y Verduras</h2>
<img src="~/Content/Veduleria.jpg"></img>

<h2>Carniceria</h2>
<img src="~/Content/Carniceria.jpg"></img>

<h2>Lacteos</h2>
<img src="~/Content/Lacteos.jpg"></img>
