/* === IMPORTANTE ===================================================
   No modificar estos estilos, ya que son imprescindibles para
   que la pagina se vea correctamente.
   ================================================================== */

/*-- Basico ----------------------------------------------------------*/
ul, ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3, p, form {
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
}

img {
    border: none;
}

.articulo > p {
    text-align: justify;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8em;
}
/*-- Layout ----------------------------------------------------------*/
#contenedor {
    width: 90%;
    max-width: 980px;
    margin: 0 auto;
}

#cabecera, #menu, #contenido, #contenido #principal, #contenido #secundario, #pie {
    border: 2px solid #777;
}

#cabecera {
    clear: both;
}

#menu {
    clear: both;
}

#contenido {
    float: right;
    width: 100%;
}

    #contenido #principal {
        float: left;
        width: 78%;
    }

    #contenido #secundario {
        float: right;
        width: 20%;
    }

#pie {
    clear: both;
}

/*-- Cabecera --------------------------------------------------------*/
#cabecera #logo {
    float: left;
}

#cabecera #buscador {
    float: right;
}

/*-- Menu ------------------------------------------------------------*/
#menu ul#menu_principal li {
    display: inline;
    float: left;
    padding: 0 10px 0 0;
}

/*-- Seccion Principal -----------------------------------------------*/
#contenido #principal .articulo img {
    width: 100px;
    float: left;
}

/*-- Pie de pagina ---------------------------------------------------*/
#pie .enlaces {
    float: left;
}

#pie .copyright {
    float: right;
}

/* === IMPORTANTE ========================================================================
   A partir de aqui, se pueden anadir todos los estilos propios que sean necesarios.
   ======================================================================================= */

#cabecera,
#menu,
#contenido,
#contenido #principal,
#contenido #secundario,
#pie {
    padding: .5em;
    border: none;
}

    #menu ul li a {
        text-decoration: none;
    }



    #cabecera h1 {
        background: url(logo.jpg) no-repeat 0px 0px;
        width: 250px;
        height: 33px;
    }

        #cabecera h1 span {
            visibility: hidden;
        }

#menu {
    margin-bottom: .5em;
    /*border-bottom: 1px solid #004C99;*/
}

#contenido {
    padding: 0;
}

    #contenido #principal {
        width: 75%;
    }

    #contenido #secundario {
        width: 20%;
        border: 1px solid #d41010;
    }

#secundario h2 {
    background: #d41010;
    padding: .2em;
    color: #fff
}

#pie {
    padding: .5em 0;
    margin-top: 1em;
    border-top: 1px solid #C5C5C5;
    border-bottom: 1px solid #C5C5C5;
    background: #f8f8f8;
    text-align: center
}

.table {
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    max-width: 100%;
}

    .table td, .table th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    .table tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .table tr:hover {
        background-color: #ddd;
    }

    .table th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #C11212;
        color: #fafafa;
    }
