@model Marketplace.Entities.Models.LogInModel

@{
    ViewBag.Title = "Inicio de sesión";
}
<h1>Inicio de sesión</h1>
@*directiva de MVC razor - helper de html que me genera el formulario >> asi se ve del lado del cliente <form action="/Auth/LogIn" method="post">*@
@using (Html.BeginForm())
{
    <br />
    <div>
        <label for="Email">Email</label>
    </div>
    <div>
        <input id="Email" name="Email" type="email" value="" placeholder="email" requiered autocomplete="off" />
    </div>
    <br />
    <div>
        <label for="Password">Password</label>
    </div>
    <div>
        <input id="Password" name="Password" type="password" placeholder="password" required autocomplete="off" />
    </div>
    <br />
    <div>
        <button type="submit">Log In</button>
    </div>
    <br />
    <div>
        <a href=@Url.Action("Create", "Admin")>Registrarse</a>
    </div>

}