@* Admin page after login *@
@{ ViewBag.Title = "Inicio de sesión"; }
<h2>Panel de Administración</h2>
<br />
<ul id="adminOption">
    <li>
        <a href=@Url.Action("Index", "Product")>Administrar Productos</a>
    </li>
    <li>
        <a href=@Url.Action("Index", "Category")>Administrar Categorias</a>
    </li>
    <li>
        <a href=@Url.Action("List", "Admin")>Administrar Usuarios</a>
    </li>
</ul>