<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <div id="contenedor">
        <div id="cabecera">
            <div id="logo">
                <img src="~/Content/FoodMarket.png"><img />
                <h1></h1>
            </div>
            <div id="buscador">
                <form action="#" method="post">
                    Buscar &nbsp;
                    <input name="busqueda" type="text" />
                </form>
            </div>
            <div class="clear">
            </div>
        </div>
        <div id="menu">
            <ul id="menu_principal">
                <li> <a href="/">Home</a> </li>           
                <li><a href="@Url.Action("About", "Home")">About</a></li>
                <li><a href="@Url.Action("Index", "Productos")">Productos</a></li>
            </ul>
        </div>
        <div id="contenido">
            <div id="principal">
                @RenderBody()
            </div>

        </div>
        <div id="pie">
            <p> GRUPO 3 WEB MARKET LPPA - 2021</p>
        </div>

    </div>
</body>
</html>